.menu {
    @apply max-h-max w-72 pt-16;
    z-index: 10;
    ul {
        li {
            @apply px-12 py-6 border-b border-b-gray-300 bg-gray-200 text-gray-600;
            &:first-child {
                @apply border-t border-t-gray-300;
            }
            &.active {
                @apply bg-gray-100;
                position: relative;
                z-index: 100;
            }
        }
    }

}


@media (max-width: 600px) {
    .menu {
        @apply fixed w-full mt-16 top-14 pt-0 left-0 transition-transform -translate-x-full lg:translate-x-0;
        height: calc(100vh - 4rem);
    }
}